/* IE8向け */
html>/**/body {
font-size: 70%¥9;
}
td span.label{
  font-size: 60%¥9;
}
section{
  margin-top: -120px;
  padding-top:135px;
}
.subhead{
 font-size: 30px;
 line-height: 30px;
 margin-bottom: 5px;
}
.navbar .brand{
 padding: 0px 20px 8px;
}
.label-web{
 background-color: #44aaee
}
td.span1{
  width: 58px;
}
.navbar .nav > li > a{
 padding: 21px 20px 22px;
}

.navbar .divider-vertical{
  height: 63px;
  margin: 0;
}
h2{
 font-size: 18px;
 padding-bottom: 5px;
 margin-bottom: 16px;
 border-bottom: 1px solid #aaa;
}
h2 img{
  display: inline-block;
  margin-bottom: -1px;
  margin-left: 5px;
  max-height: 18px;
}
.copy{
  padding-right: 20px;
}
.main-content{
  position: relative;
  margin-top: 90px;
}
p{
  font-size: 14px;
  text-align: justify;
  line-height: 24px;
}
.diagram{
  display: block;
 background: white;
 border: 1px solid #ddd;
 padding: 2px;
}
.center{
text-align: center;
}
.underline{
 text-decoration: underline;
}
.explain ul li, ol li{
 line-height: 24px;
 margin-left: 20px;
}
.indent{
  margin-left: 30px;
}

tr > td:nth-child(1) {
 font-weight: bold;
}

.icon{
  width: 29px;
  display: inline-block;
  text-align: center;
  }

.service-sub{
  margin-top: 47px;
}
